@model Aproxima.Models.Solicitacao

@{
    ViewData["Title"] = "Edit";
}

<h1>Editando Registro</h1>

<h3>Veja abaixo os detalhes do registro que deseja editar:</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClassificacaoId" class="control-label"></label>
                <select asp-for="ClassificacaoId" class="form-control" asp-items="ViewBag.ClassificacaoId"></select>
                <span asp-validation-for="ClassificacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detalhamento" class="control-label"></label>
                <input asp-for="Detalhamento" class="form-control" />
                <span asp-validation-for="Detalhamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RendaMensal" class="control-label"></label>
                <input asp-for="RendaMensal" class="form-control" />
                <span asp-validation-for="RendaMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdultosMoramComVoce" class="control-label"></label>
                <input asp-for="AdultosMoramComVoce" class="form-control" />
                <span asp-validation-for="AdultosMoramComVoce" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    @Html.DisplayNameFor(model => model.AdultosTemRenda) <input class="form-check-input" asp-for="AdultosTemRenda" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AdultosRenda" class="control-label"></label>
                <input asp-for="AdultosRenda" class="form-control" />
                <span asp-validation-for="AdultosRenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SALVAR" class="btn btn-primary" style="float:right;"/>
            </div>
        </form>
    </div>
</div>

<div class="secVoltar">
    <a asp-action="Index">
        <i class="fas fa-arrow-circle-left"></i>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
